:root {
  --pressed-state: #404bbf;
  --primary-text-color: #434455;
  --cloud: #f4f4fd;
  --accent-grey-color: #2e2f42;
  --primary-el-color: #4d5ae5;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}

/* ########################### global ########################### */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ########################### Common styles ########################### */

.btn {
  /* Typography */
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Visual */
  background-color: var(--primary-el-color);
  border-radius: 4px;

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 96px 0;
}

.sm-link {
  /* Box model */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  /* Transition */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Visual */
  border-radius: 50%;
}

.modal-lable {
  /* Typography */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;

  /* Visual */
  color: var(--lightslate);
}

/* * #####  HEADER  ##### */

/* Common styles */

.logo-header {
  color: var(--primary-el-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* Box model */
  margin-right: 76px;
}

.logo-accent {
  color: var(--accent-grey-color);
}

@media (min-width: 320px) {
  .container {
    width: 288px;
    padding: 0;
    margin: 0 auto;
  }

  .menu-list,
  .address-list {
    display: none;
  }

  .logo-header {
    display: flex;
    align-items: center;
    padding: 17px 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0;
    margin: 0 auto;
  }

  .page-header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-list-item {
    padding: 24px 0;
  }

  .address-links {
    display: flex;
    align-items: center;
  }

  .address-list {
    display: flex;
    flex-direction: column;
  }

  .address-list-item {
    padding: 0;
  }

  .navigation {
    /* Box model */
    padding: 24px 0;

    /* Transition */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation:hover,
  .navigation:active,
  .navigation:focus {
    color: var(--pressed-state);
  }

  .studio-link {
    /* Positioning */
    position: relative;
    color: var(--pressed-state);
  }

  .studio-link::after {
    /* Positioning */
    position: absolute;
    left: 0;
    bottom: -1px;

    /* Box model */
    margin: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--pressed-state);
  }

  .contact-links {
    font-style: normal;
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;

    /* Transition */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-links:hover,
  .contact-links:active,
  .contact-links:focus {
    color: var(--pressed-state);
  }
}

@media (min-width: 1158px) {
  body {
    font-weight: 400;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .section {
    padding: 120px 0;
  }

  .menu-list,
  .address-list {
    flex-direction: row;
    gap: 40px;
    padding: 0;
    align-items: center;
  }

  .menu-list-item,
  .address-list-item {
    padding: 24px 0;
  }

  .contact-links {
    font-size: 16px;

    /* Transition */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ########################### Main ########################### */

/* * #####  HERO  ##### */

@media (min-width: 320px) {
  .title-section {
    /* Box model */
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;

    /* Visual */
    background-color: var(--accent-grey-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mob-people-office.jpg);
  }

  @media (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/mob-people-office@2x.jpg);
    }
  }
}

@media (min-width: 768px) {
  .title-section {
    /* Box model */
    padding: 112px 0;
    max-width: 768px;

    /* Visual */
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-people-office.jpg);
  }
  @media (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet-people-office@2x.jpg);
    }
  }
}

@media (min-width: 1158px) {
  .title-section {
    /* Box model */
    padding: 188px 0;
    max-width: 1440px;

    /* Visual */
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
  }

  @media (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office@2x.jpg);
    }
  }
}
