/* ##### Common ##### */

.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* ##### Exceptions ##### */

@media screen and (max-width: 767px) {
  .menu-list,
  .address-list {
    display: none;
  }

  .logo-header {
    display: flex;
    align-items: center;
    padding: 17px 0;
  }
}

/* ##### Devices settings ##### */

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .menu-list-item {
    padding: 24px 0;
  }
  .address-list {
    display: flex;
    flex-direction: column;
  }
  .address-links {
    display: flex;
    align-items: center;
  }
  .address-list-item {
    padding: 0;
  }

  .navigation,
  .contact-links {
    color: #2e2f42;
  }

  .navigation {
    /* Box model */
    padding: 24px 0;

    /* Transition */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation:hover,
  .navigation:active,
  .navigation:focus {
    color: var(--pressed-state);
  }

  .studio-link {
    /* Positioning */
    position: relative;
    color: var(--pressed-state);
  }

  .studio-link::after {
    /* Positioning */
    position: absolute;
    left: 0;
    bottom: -1px;

    /* Box model */
    margin: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--pressed-state);
  }

  .contact-links {
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;

    /* Transition */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-links:hover,
  .contact-links:active,
  .contact-links:focus {
    color: var(--pressed-state);
  }
}

@media screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .menu-list-item,
  .address-list-item {
    padding: 24px 0;
  }

  .contact-links {
    font-size: 16px;
  }

  .navigation {
    font-weight: 500;
  }
}
