:root {
  --pressed-state: #404bbf;
  --cloud: #f4f4fd;
  --accent-grey-color: #2e2f42;
  --primary-el-color: #4d5ae5;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}
