.container {
  padding: 0;
}

@media screen and (min-width: 320px) {
  .container {
    width: 288px;
    margin: 0 auto;
  }

  .our-team-container {
    width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    margin: 0 auto;
  }

  .our-team-container {
    width: 552px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
